*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:monospace;
}

.container{
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    height:88%;
    align-items: center;
}

.col{
    flex-basis:50%;
    padding-bottom: 15px;
    padding-left: 30px;
    
}

.col1{
    padding-left: 150px;
    
}

.explanation {
    background: rgba(61, 70, 74, 0.26);
    margin-top: 20px;
    padding: 10px;
    color: aquamarine;
}


h2{
    font-size: 50px;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    padding-left: 20px;
    font-family: fantasy;
    font-weight: lighter;
}

p{
    font-size:15px;
    color: #fff;
    margin-left: 20px;
    text-align: center;
    font-family: monospace;
}

.col1 a{
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    margin-right: 15px;
    color:#fff;
}
span{
    font-size:2rem;
    font-family: fantasy;
    color: gold;
}

.col1 a:hover{
    background-color: #fff;
    color: black;
}

.background-clip{ 
    position:fixed;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}
@media (max-width: 600px) {
    .container{
        width: 100%;
        height: 100vh;
    }
    h2 {
        text-align: center;
        font-size: 0.75rem;
    }

    .explanation p {
        width: 10ch;
    }

    .col1 a {
        font-size: 1rem;
    }

    span {
        font-size: 1.5rem;
    }
    
}

@media (max-width: 480px) {
    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 0.75rem;
    }

    .col1 a {
        font-size: 0.75rem;
    }

    
}
